#nav {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

#nav li {
  display: inline;
}

#nav a {
  color:black;
  padding: 10px;
  text-decoration: none;
  line-height: 2.5;
}

#nav a:hover {
  text-decoration: underline;
}

.photos img{
  width: 50%;
  height: auto;
}

.target {
  width: 500px;
  height: 25px;
  border: solid black;
}

#j-container {
  display: flex;
}

/*#photos {
  display: flex;
  flex-wrap: wrap;
}*/

.captions {
  border: 1px solid black;
}
