* {
  margin: 0;
  padding: 0;
  /*box-sizing: border-box;*/
  font-family: 'Tinos', serif;
  color: #333;
}

.text {
  position: relative;
  top: 6px;
}

.container {
  margin: 0 auto;
}

#container {
  margin: 0 auto;
}
nav {
  background-color: #333;
}

#nav {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  display: inline;
}

#nav li div{
  display: inline-block;
}

/*.dependent {

}*/

#nav a {
  color: #fff;
  padding: 10px;
  text-decoration: none;
  line-height: 2.5;
}

#nav a:hover {
  text-decoration: underline;
}

#search {
  text-align: center;
}

.section {
  text-align: center;
}

.timer {
  text-align: right;
  margin-right: 80px;
}

.photos img {
  width: 100%;
  height: auto;
}

.target {
  width: 100%;
  min-height: 50px;
  border: 1px solid #333;
}

#j-container {
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  align-content: space-between;
  text-align: center;
}

#captions {
  position: relative;
}

#photos {
  /*position: fixed;*/
  padding-top: 5px;
 -webkit-columns: 3;
 -moz-columns: 3;
 columns: 3;
 -webkit-column-width: 100%;
 -moz-column-width: 100%;
 column-width: 100%;
 -webkit-column-gap: 1px;
 -moz-column-gap: 1px;
 column-gap: 1px;
}

.photos {
  width: 300px;
  margin: 8px;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside:avoid;
  -moz-page-break-inside:avoid;
  page-break-inside: avoid;
  break-inside: avoid-column;
}

.captions {
  position: absolute;
  border: 1px solid #333;
  border-radius: 20px;
  padding: 5px 10px 5px 10px;
  width: 250px;
  margin: 10px;
  text-align: center;
  background-color: #333;
  color: #fff;
  z-index: 1;
  font-size: 16px;
}

.captions .text {
  position: relative;
  top: 6px;
}

.ui-draggable-dragging {
  background-color: #3CB371;
}

#home {
  margin: 0 auto;
  text-align: center;
  width: 900px;
  height: 900px;
}

.grid {
  padding-top: 10px;
 -webkit-columns: 5;
 -moz-columns: 5;
 columns: 5;
 -webkit-column-width: 100%;
 -moz-column-width: 100%;
 column-width: 100%;
 -webkit-column-gap: 1px;
 -moz-column-gap: 1px;
 column-gap: 1px;
}

.grid-item img{
  width:100%
}

/* reference for image flip - http://css3.bradshawenterprises.com/flip/*/

#f1_container {
  position: relative;
  margin: 10px auto;
  width: 350px;
  height: 250px;
  z-index: 1;
  padding: 6px;
  display: inline-block;
}
#f1_container {
  perspective: 1000;
}
#f1_card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1.0s linear;
}
#f1_container:hover #f1_card {
  transform: rotateY(180deg);
  box-shadow: -5px 5px 5px #aaa;
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  color: white;
  text-align: center;
  background-color: #aaa;
}

.face img {
  margin: 0 auto;
  display: block;
  max-width:100%;
  max-height:100%;
}

/*.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
}*/
